


<div class="button">
  
 <button   mat-button style="color: blue" routerLink="mat1">mat1</button>
  <button  mat-button style="color: blue" routerLink="table" >table</button>
  <button  mat-button style="color: blue" routerLink="navigation" >navigation</button>
  <button  mat-button style="color: blue" routerLink="dashboard" >dashboard</button>
  <button  mat-button style="color: blue" routerLink="tree" >tree</button>
  <button  mat-button style="color: blue" routerLink="drag-drop" >drag-drop</button>

  

</div>


<router-outlet></router-outlet>